{{#if isSecondary}}
    <!-- secondary navigation -->
    <ul class="nav">
        {{#foreach navigation}}
            <li class="nav-{{slug}}">
                <a href="{{url}}" class="social-link">{{slug}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}